
.logout{
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    border-radius: 20%;
    border: #eb9c3c;
  }
  .logout:hover{
    background-color: rgb(47, 44, 44);
  }
  .logout img{
    height: 40px;
    width: 40px;
    
  }
  .premium{
    background-color: rgb(209, 59, 59);
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    height: 30px;
    width: 140px;
  }
  .premium:hover{
    opacity: 0.5;
  }
  .darkbtn{
    background-color: rgb(24, 23, 23);
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    height: 30px;
    width: 90px;
    color: white;
  }
  .darkbtn:hover{
    opacity: 0.5;
  }
  
  .leader{
    background-color: rgb(28, 79, 220);
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    height: 30px;
    width: 90px;
    color: white;
  }
  .leader:hover{
    opacity: 0.5;
  }
  .report{
    background-color:rgb(85, 237, 30);
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    height: 30px;
    width: 150px;
    
  }
  .report:hover{
    opacity: 0.5;
  }
  
.btte {
    background-color: rgb(70, 97, 251);
    border-radius: 6px;
    width: 40px;
    float: right;
    
  
  }
  
  .bttd {
    background-color: rgb(248, 30, 73);
    border-radius: 6px;
    width: 60px;
    float: right;
    
  }
  
  .btn:hover {
    opacity: 0.5;
  }
  
  .bttd:hover {
    opacity: 0.5;
  }
  
  .btte:hover {
    opacity: 0.5;
  }
  .pagination {
    text-align: center;


}

.pagination button {
    background-color: #e64a1f;
    border: none;
    margin: 0.5rem;
    border-radius: 4px;
    width: 25px;
    border: 2px solid black;
}

.pagination button:hover {
    background-color: white;
}