.user-heading-list{
   list-style: none;
    display: flex;
    font-size: 140%;
    width:800px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid black;
}
.user-heading-list button{
    border: none;
    margin-right: 10px;
    background-color: coral;
    border-radius: 5px;
    position: relative;
    left: 75%;
    height: 25px;

}
.user-heading-item{
    width: 30%;
}
.expense{
    float: right;
}


.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(5, 4, 4, 0.5);

    display: none;
    align-items: center;
    justify-content: center;
}

.popup-container.active {
    display: flex;
}

.popup {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(12, 10, 10, 0.3);
    padding: 2rem;
    position: relative;
    width: 400px;
    height: 300px;

}

.popup button {
    border-radius: 5px;
    background-color: #fff;
    color: rgb(245, 181, 52);
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 10px;
}
.expense-list{
    list-style: none;
    display: flex;
    margin: 15px;
    border-bottom: 1px solid black;
    
    
}
.expense-item{
    width: 30%;
}